<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/new.css">
    <title>my searches</title>
</head>

<body>
    <header>
        <%- include('../layout/header'); %>
    </header>
    <main>
        <p>Search by Title or Author</p>
        <form action="/searches" method="get">
            <label>
                <span>Search about</span>
                <input type="text" name="searchbox" required>
            </label><br>
            <label for="title">
                <span> Title</span>
                <input type="radio" id="title" name="search" value="title" required>
            </label><br>
            <label for="author">
                <span>Author</span>
                <input type="radio" id="author" name="search" value="author" required>
            </label><br>
      
            <button>Search the Google Books API</button>
        </form>
    </main>
</body>

</html>